/* Styles for giphy api */

#titleBox {
    background: lightgray;
}
.myButton {
    margin: 0.3rem;
}

.gifImage {
    margin: 0.5rem;
    float:left;
}

#gifBox {
    background: black;

}

.imgDiv {
    color: white;
    width: 200px;
    float:none;
}